.App {
  text-align: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #ffffff;
}

.react-link {
  text-decoration-line: none;
  color: #1a1a1a;
}

button:hover {
  transition-duration: 0.25s;
  cursor: pointer;
}

.delete-button {
  margin: 0 0 15px;
  padding: 4px 8px;
  border: solid #ffffff 1px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ee0909;
}

.delete-button:hover {
  transition-duration: 0.25s;
  background-color: #ffffff;
  color: #ee0909;
}

.do-delete {
  border: solid #ffffff 2px;
  border-radius: 5px;
  background-color: #ee0909;
  padding: 4px 8px;
  margin: 0 10px 10px;
  color: #ffffff;
}

.do-delete:hover {
  transition-duration: 0.25s;
  color: #ee0909;
  background-color: #ffffff;
}

.dont-delete {
  border: solid #ffffff 2px;
  background-color: #28a60f;
  color: #ffffff;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0 10px 10px;
}

.dont-delete:hover {
  transition-duration: 0.25s;
  background-color: #ffffff;
  color: #28a60f;
}

.black-button {
  padding: 8px 16px;
  background-color: #ffffff;
  color: #1a1a1a;
  border-radius: 5px;
  margin: 5px 5px 15px;
  border: 2px solid #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.black-button:hover {
  transition-duration: 0.25s;
  background-color: #1a1a1a;
  color: #ffffff;
}

.input-line {
  width: 280px;
  height: 20px;
  margin: auto;
  border: #ffffff solid 2px;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1a1a1a;
}

.input-box {
  width: 280px;
  height: 280px;
  margin: auto;
  border: #ffffff solid 2px;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1a1a1a;
}

.post-button {
  padding: 4px 8px;
  margin: 5px;
  border: solid #ffffff 1px;
  border-radius: 5px;
  background-color: #28a60f;
  color: #ffffff;
}

.post-button:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  color: #1a1a1a;
  background-color: #ffffff;
}

.cancel-post-button {
  padding: 4px 8px;
  margin: 5px;
  border: solid #ffffff 1px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #1a1a1a;
}

.cancel-post-button:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  background-color: #ffffff;
  color: #1a1a1a;
}

h2 {
  margin: 25px auto;
}

.error-paragraph {
  color: #ffcc00;
}

/* Header */

#header-bottom-line {
  width: 50vw;
  border-bottom: 1px solid #ffffff;
}

header {
  padding: 10px 0 5px;
}

h1 {
  color: #ffcc00;
  font-size: 5em;
  margin: 10px;
}

#post-article-button {
  padding: 8px 16px;
  background-color: #28a60f;
  color: #ffffff;
  border-radius: 5px;
  margin: 5px 5px 15px;
  border: 2px solid #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

#post-article-button:hover {
  transition-duration: 0.25s;
  background-color: #ffffff;
  color: #28a60f;
  border: 2px solid #ffffff;
}

.header-topic-button {
  padding: 5px 10px;
  min-width: 100px;
  background-color: #ffcc00;
  color: #1a1a1a;
  border: #1a1a1a solid 2px;
  border-radius: 5px;
  margin: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.header-topic-button:hover {
  transition-duration: 0.25s;
  background-color: #1a1a1a;
  border: #ffcc00 solid 2px;
  color: #ffcc00;
}

/* ArticleList */

#article-list-select {
  background-color: #1a1a1a;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #ffffff;
  border: 2px #ffffff solid;
}

#article-list-select:hover {
  cursor: pointer;
}

#article-list {
  max-width: 1500px;
  min-width: 300px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#article-list-title {
  text-transform: capitalize;
}

.article-card {
  border: #ffcc00 4px solid;
  border-radius: 10px;
  max-width: 360px;
  min-height: 180px;
  margin: 20px;
  padding: 10px;
  color: #ffffff;
}

.article-card:hover {
  transition-duration: 0.25s;
  border: #28a60f 4px solid;
  cursor: pointer;
}

.article-card > h3 {
  font-size: 1.25rem;
  height: 80px;
  margin: 10px 0;
}

.article-card > p {
  margin: 10px;
}

.positive-votes {
  color: #28a60f;
}

.negative-votes {
  color: #ee0909;
}

/* ChooseUser */

#choose-user-div {
  width: 60vw;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* UserCard */

.user-card-div {
  font-size: 2rem;
  width: 250px;
  height: 250px;
  padding: 16px;
  border-radius: 10px;
  border: solid #ffffff 8px;
  margin: 25px;
}

.user-card-div:hover {
  transition-duration: 0.25s;
  border: solid 8px #ffcc00;
  padding: 16px;
  cursor: pointer;
}

.current-user {
  padding: 16px;
  border: solid 8px #28a60f;
}

.current-user:hover {
  padding: 16px;
  border: solid 8px #28a60f;
}

.img-user-card {
  height: 100px;
}

.user-card-name {
  font-size: 1.5rem;
  padding: 0;
  margin: 20px 0 0;
}

/* ArticlePage */

.article-page {
  padding: 25px;
}

.article-page-main {
  max-width: 1000px;
  min-width: 300px;
  border-radius: 20px;
  border: 2px #ffcc00 solid;
  margin: 20px auto;
  padding: 20px 0 40px;
}

.article-page-title {
  font-size: 2rem;
  margin: 40px auto 0;
  padding: 10px;
}

.article-body {
  max-width: 940px;
  margin: 40px auto;
  font-size: 1.25rem;
  padding: 0 40px;
  text-align: justify;
}

.line-before-comments {
  width: 20vw;
  border: 1px #ffffff solid;
  margin: 40px auto;
}

.vote-button {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border: solid #ffffff 1px;
  border-radius: 5px;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #1a1a1a;
}

.vote-button:hover {
  transition-duration: 0.25s;
  background-color: #ffffff;
  color: #1a1a1a;
}

.comment-on-article {
  border-radius: 5px;
  background-color: #28a60f;
  color: #ffffff;
  border: solid 1px #ffffff;
  padding: 5px;
  width: 160px;
  margin: 20px auto;
}

.comment-on-article:hover {
  transition-duration: 0.25s;
  cursor: pointer;
  background-color: #ffffff;
  color: #28a60f;
}

.comments-statement {
  border-radius: 5px;
  background-color: #ffffff;
  color: #1a1a1a;
  border: solid 1px #ffffff;
  padding: 5px;
  width: 160px;
  margin: 20px auto;
}

.comments-statement:hover {
  transition-duration: 0.25s;
  cursor: pointer;
  background-color: #1a1a1a;
  color: #ffffff;
}

/* CommentCard */

.comment-in-article {
  margin: 50px 25px;
  border: #ffffff 1px solid;
  border-radius: 10px;
}

.comment-body-in-article {
  padding: 10px 50px;
  text-align: left;
}

.comment-vote-button {
  margin-bottom: 20px;
}

/* PostArticle */

.article-field-labels {
  margin-bottom: 5px;
}

#new-article-topic {
  background-color: #ffffff;
  padding: 2px;
  border-radius: 5px;
  border: 2px #1a1a1a solid;
}

#new-article-topic:hover {
  transition-duration: 0.25s;
  cursor: pointer;
}

.do-post-article {
  border: solid #ffffff 2px;
  border-radius: 5px;
  background-color: #28a60f;
  padding: 4px 8px;
  margin: 0 10px 10px;
  color: #ffffff;
}

.do-post-article:hover {
  transition-duration: 0.25s;
  color: #28a60f;
  background-color: #ffffff;
}

.dont-post-article {
  border: solid #ffffff 2px;
  background-color: #ee0909;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0 10px 10px;
  color: #ffffff;
}

.dont-post-article:hover {
  transition-duration: 0.25s;
  background-color: #ffffff;
  color: #ee0909;
}
