.App {
  text-align: center;
}

.react-link {
  text-decoration-line: none;
  color: black;
}

button:hover,
.article-card:hover {
  cursor: pointer;
}

/* Header */

h1 {
  color: red;
  font-size: 5em;
}

#user-button {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 5px;
  border: none;
  font-size: 1rem;
}

.header-topic-button {
  padding: 5px 10px;
  min-width: 80px;
  background-color: red;
  color: white;
  border: black solid 2px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1rem;
}

/* ArticleList */

#article-list {
  width: 90vw;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#article-list-title {
  text-transform: capitalize;
}

.article-card {
  border: red 2px solid;
  border-radius: 10px;
  width: 360px;
  height: 180px;
  margin: 20px;
  padding: 20px;
}

.article-card > h3 {
  font-size: 1.25rem;
  height: 80px;
  margin: 10px 0;
}

.article-card > p {
  margin: 10px;
}

.positive-article-votes {
  color: green;
}

.negative-article-votes {
  color: red;
}
