.App {
  text-align: center;
  min-height: 100vh;
}

.react-link {
  text-decoration-line: none;
  color: black;
}

button:hover {
  transition-duration: 0.25s;
  cursor: pointer;
}

.delete-button {
  margin: 0 0 10px;
  padding: 4px 8px;
  border: solid red 1px;
  border-radius: 5px;
  color: red;
  background-color: white;
}

.delete-button:hover {
  transition-duration: 0.25s;
  background-color: red;
  color: white;
}

.do-delete {
  border: solid black 2px;
  border-radius: 5px;
  background-color: white;
  padding: 4px 8px;
  margin: 0 10px 10px;
  color: red;
}

.do-delete:hover {
  transition-duration: 0.25s;
  color: white;
  background-color: red;
}

.dont-delete {
  border: solid black 2px;
  background-color: white;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0 10px 10px;
}

.dont-delete:hover {
  transition-duration: 0.25s;
  background-color: black;
  color: white;
}

.black-button {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 5px 5px 15px;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: 500;
}

.black-button:hover {
  transition-duration: 0.25s;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.input-line {
  width: 300px;
  margin: auto;
  border: black solid 2px;
  border-radius: 5px;
  font-size: 1rem;
}

.input-box {
  width: 300px;
  height: 300px;
  margin: auto;
  border: black solid 2px;
  border-radius: 5px;
  font-size: 1rem;
}

.post-button {
  padding: 4px 8px;
  margin: 5px;
  border: solid green 1px;
  border-radius: 5px;
  color: green;
  background-color: white;
}

.post-button:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  background-color: green;
  color: white;
}

.cancel-post-button {
  padding: 4px 8px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 5px;
  color: black;
  background-color: white;
}

.cancel-post-button:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  background-color: black;
  color: white;
}

h2 {
  margin: 25px auto;
}

/* Header */

h1 {
  color: red;
  font-size: 5em;
  margin: 15px;
}

#post-article-button {
  padding: 8px 16px;
  background-color: green;
  color: white;
  border-radius: 5px;
  margin: 5px 5px 15px;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: 500;
}

#post-article-button:hover {
  transition-duration: 0.25s;
  background-color: white;
  color: green;
  border: 2px solid black;
}

.header-topic-button {
  padding: 5px 10px;
  min-width: 100px;
  background-color: red;
  color: white;
  border: black solid 2px;
  border-radius: 5px;
  margin: 20px 10px;
  font-size: 1rem;
  font-weight: 500;
}

.header-topic-button:hover {
  transition-duration: 0.25s;
  background-color: white;
  color: red;
}

/* ArticleList */

#article-list-select {
  background-color: white;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px black solid;
}

#article-list-select:hover {
  transition-duration: 0.25s;
  cursor: pointer;
}

#article-list {
  width: 90vw;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#article-list-title {
  text-transform: capitalize;
}

.article-card {
  border: red 4px solid;
  border-radius: 10px;
  max-width: 360px;
  min-height: 180px;
  margin: 20px;
  padding: 10px;
}

.article-card:hover {
  transition-duration: 0.25s;
  border: black 4px solid;
  cursor: pointer;
}

.article-card > h3 {
  font-size: 1.25rem;
  height: 80px;
  margin: 10px 0;
}

.article-card > p {
  margin: 10px;
}

.positive-votes {
  color: green;
}

.negative-votes {
  color: red;
}

/* ChooseUser */

#choose-user-div {
  width: 60vw;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* UserCard */

.user-card-div {
  font-size: 2rem;
  min-width: 280px;
  padding: 16px;
  border-radius: 10px;
  border: solid black 8px;
  margin: 12px;
}

.user-card-div:hover {
  transition-duration: 0.25s;
  border: solid 8px red;
  padding: 16px;
  cursor: pointer;
}

.current-user {
  padding: 16px;
  border: solid 8px lime;
}

.current-user:hover {
  padding: 16px;
  border: solid 8px lime;
}

.img-user-card {
  height: 100px;
}

.user-card-name {
  font-size: 1.5rem;
  padding: 0;
  margin: 20px 0 0;
}

/* ArticlePage */

.article-page {
  padding: 25px;
}

.article-page-main {
  max-width: 1000px;
  border-radius: 20px;
  border: 2px red solid;
  margin: 20px auto;
  padding: 20px 30px 40px;
}

.article-page-title {
  font-size: 2rem;
  margin: 40px auto 0;
}

.article-body {
  margin: 40px auto;
  font-size: 1.25rem;
  padding: 0 40px;
  text-align: justify;
}

.line-before-comments {
  width: 20vw;
  border: 1px black solid;
  margin: 40px auto;
}

.vote-button {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 1.25rem;
  color: white;
  background-color: black;
}

.vote-button:hover {
  transition-duration: 0.25s;
  background-color: white;
  color: black;
}

.comment-on-article {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: solid 1px black;
  padding: 5px;
  width: 160px;
  margin: 0 auto 10px;
}

.comment-on-article:hover {
  transition-duration: 0.25s;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 5px;
  width: 160px;
}

.comments-statement {
  border: black 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 160px;
  margin: 20px auto 0;
}

.comments-statement:hover {
  transition-duration: 0.25s;
  cursor: pointer;
  background-color: black;
  color: white;
}

/* PostComment */

/* CommentCard */

.comment-in-article {
  max-width: 600px;
  margin: 25px auto;
  border: black 1px solid;
  border-radius: 10px;
}

.comment-body-in-article {
  padding: 10px 50px;
  text-align: left;
}

.comment-vote-button {
  margin-bottom: 20px;
}

/* PostArticle */

.article-field-labels {
  margin-bottom: 5px;
}

#new-article-topic {
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  border: 2px black solid;
}

#new-article-topic:hover {
  transition-duration: 0.25s;
  cursor: pointer;
}

.do-post-article {
  border: solid black 2px;
  border-radius: 5px;
  background-color: white;
  padding: 4px 8px;
  margin: 0 10px 10px;
  color: green;
}

.do-post-article:hover {
  transition-duration: 0.25s;
  color: white;
  background-color: green;
}

.dont-post-article {
  border: solid black 2px;
  background-color: white;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0 10px 10px;
  color: red;
}

.dont-post-article:hover {
  transition-duration: 0.25s;
  background-color: red;
  color: white;
}
